<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product"></ion-back-button>
    </ion-buttons>
    
    <ion-title *ngIf="product !== undefined">
      Product details - {{product.name}}
    </ion-title>

    <ion-button *ngIf="authService.isAdmin()" slot="end" color="dark" shape="round" title="Edit" (click)="editPage()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="authService.isAdmin()" slot="end" color="danger" shape="round" title="Delete" (click)="onDelete()"> 
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3">
        <ion-card *ngIf="this.product !== undefined">
          <img [src]="product.photo !== null ?
               'data:image/jpg;base64,' + product.photo :
               'https://image.freepik.com/free-vector/laptop-tablet-desktop-mobile_1284-3389.jpg'"
               style="width: 100%; max-height: 500px;"/>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{product.name}}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <ion-item lines="none">
              <ion-icon name="star-half-outline" slot="start" color="warning"></ion-icon>
              <ion-label>Provider: {{product.provider}}</ion-label>
            </ion-item>
      
            <ion-item lines="none">
              <ion-icon name="browsers-outline" slot="start"></ion-icon>
              <ion-label>Category: {{product.category}}</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
              <ion-label class="ion-text-wrap">Description: {{product.description}}</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
              <ion-label>Stock: {{product.stock}}</ion-label>
            </ion-item>
      
            <ion-item lines="none">
              <ion-icon name="bag-check-outline" slot="start"></ion-icon>
              <ion-label>Delivery Method: {{product.deliveryMethod}}</ion-label>
            </ion-item>
      
            <ion-item lines="none">
              <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
              <ion-label>Price: {{product.price}} RON</ion-label>
            </ion-item>
            <ion-button class="ion-text-center" (click)="addToCart(product.productId)">
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
            <ion-button class="ion-text-center" (click)="addToWishlist(product.productId)">
              <ion-icon name="heart-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
