<ion-header>
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-lg="2">
          <ion-title style="height: 100%;">Cart</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="order != undefined">
    <ion-row style="justify-content: center" *ngIf="order !== undefined">
      <ion-col size-lg="3" *ngFor="let product of order.products">
        <ion-card>
          <img [src]="product.photo !== null ?
           'data:image/jpg;base64,' + product.photo :
           'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'"
          style="width: 100%; height: 200px;"/>
          <ion-card-header class="ion-text-center" [routerLink]="['/product/detail']" [queryParams]="{productId : product.productId}">
            <ion-card-title>{{product.productName}}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <ion-item lines="none">
              <ion-icon name="cash-outline" slot="start" color="success"></ion-icon> 
              <ion-label>{{product.price}} RON</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="bag-outline" slot="start" color="success"></ion-icon> 
              <ion-label>Quantity: {{product.quantity}}</ion-label>
            </ion-item>
            <ion-button slot="end" color="warning" shape="round" title="Delete" (click)="removeFromCart(product.productId)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="success" shape="round" title="Add" (click)="addToCart(product.productId)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="5">
        <ion-button  *ngIf="order !== undefined" class="ion-text-center" [routerLink]="['/order/place']">
          <ion-icon name="cash-outline" slot="start"></ion-icon>Place order for {{order.totalValue}} RON</ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-grid *ngIf="order == undefined">
    <ion-row>
      <ion-col offset="5" size="2">
        <ion-item class="ion-text-center">
          <ion-icon name="cash-outline" color="danger" slot="start"></ion-icon>
          <ion-label>Your cart is empty!</ion-label>
          <ion-icon name="cash-outline" color="danger" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
