<ion-header>
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-lg="2">
          <ion-title style="height: 100%;">Contact Us!</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: inherit;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col offset-sm="3" size-sm="6">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-icon name="flash-sharp" color="warning"></ion-icon>
              Send us your feedback
              <ion-icon name="flash-sharp" color="warning"></ion-icon>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Subject</ion-label>
              <ion-input [(ngModel)]="subject"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Your message</ion-label>
              <ion-textarea autoGrow [(ngModel)]="message"></ion-textarea>
            </ion-item>
            <ion-button (click)="sendMail()" [disabled]="message.length == 0 || subject.length == 0">
              <ion-label>
                Send
              </ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" style="height: 50px">
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col offset="0" size="2">
          <ion-item (click)="about('https://www.facebook.com')" lines="none" color="transparent" button>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col offset="2" size="2">
          <ion-item (click)="about('https://www.instagram.com')" lines="none" color="transparent" button>
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col offset="1" size="1">
          <ion-item (click)="about('https://www.twitter.com')" lines="none" color="transparent" button>
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>