<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <iframe id="vp1fG1m0" title="Video Player" style="transform: translateX(50%);" width="400" height="400" frameborder="0" src="https://s3.amazonaws.com/embed.animoto.com/play.html?w=swf/production/vp1&e=1651506639&f=fG1m0RUfoGbaIEB1YDT2bg&d=0&m=p&r=360x360+720x720&volume=100&start_res=720x720&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" (keyup.enter)="loginForm.valid ? onSubmit(loginForm) : 1" style="height: 100%;">
    <ion-grid style="height: inherit;">
      <ion-row class="ion-align-items-center" style="height: 100%;">
        <ion-col offset-sm="3" size-sm="6" >
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>
                <ion-icon name="flash-sharp" color="warning"></ion-icon>
                Login into GetaGadget
                <ion-icon name="flash-sharp" color="warning"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <ion-item class="item-content" color="transparent">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" ngModel name="email" required #userCtrl="ngModel" pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
              </ion-item>
              <ion-item *ngIf="userCtrl.touched && !userCtrl.valid" lines="none" color="transparent">
                <ion-label color="danger">Please provide a valid email</ion-label>
              </ion-item>
              <ion-item color="transparent">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel required name="password" #passCtrl="ngModel" minlength="1"
                  clearOnEdit="false"> </ion-input>
              </ion-item>
  
              <ion-button type="submit" [disabled]="!loginForm.valid" expand="block">{{_isLoading? "" : "Login"}}
                <ion-spinner *ngIf="_isLoading"></ion-spinner>
              </ion-button>
  
              <ion-item class="ion-text-center" [routerLink]="['/auth/register']" lines="none" color="transparent">
                <ion-label color="secondary">
                  Don't have an account? Register now!
                </ion-label>
              </ion-item>
            </ion-card-content>
            

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" style="height: 50px">
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col offset="0" size="2">
          <ion-item (click)="about('https://www.facebook.com')" lines="none" color="transparent" button>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col offset="2" size="2">
          <ion-item (click)="about('https://www.instagram.com')" lines="none" color="transparent" button>
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col offset="1" size="1">
          <ion-item (click)="about('https://www.twitter.com')" lines="none" color="transparent" button>
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>