<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button>daw</ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)"
    (keyup.enter)="registerForm.valid ? onRegister(registerForm) : 1" style="height: 100%;">
    <ion-grid style="height: inherit;">
      <ion-row class="ion-align-items-center" style="height: 100%;">
        <ion-col offset-sm="3" size-sm="6">
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>
                <ion-icon name="flash-sharp" color="warning"></ion-icon>
                Create a GetaGadget Account
                <ion-icon name="flash-sharp" color="warning"></ion-icon>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-item class="item-content">
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="firstName" ngModel name="firstName" required #firstNameCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="firstNameCtrl.touched && !firstNameCtrl.valid" lines="none">
                <ion-label color="danger">Please input your first name!</ion-label>
              </ion-item>

              <ion-item class="item-content">
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="lastName" ngModel name="lastName" required #lastNameCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="lastNameCtrl.touched && !lastNameCtrl.valid" lines="none">
                <ion-label color="danger">Please input your last name!</ion-label>
              </ion-item>

              <ion-item class="item-content">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input type="email" ngModel name="email" required #emailAddressCtrl="ngModel" pattern="[A-Za-z0-9._%+-]{1,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
              </ion-item>
              <ion-item *ngIf="emailAddressCtrl.touched && !emailAddressCtrl.valid" lines="none">
                <ion-label color="danger">Please provide a valid email address!</ion-label>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel name="password" required #passCtrl="ngModel" clearOnEdit="false">
                </ion-input>
              </ion-item>
              <ion-item *ngIf="passCtrl.touched && !passCtrl.valid" lines="none">
                <ion-label color="danger">Please input your password!</ion-label>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="phoneNumber" ngModel name="phoneNumber" #phoneCtrl="ngModel" minlength="7"
                  clearOnEdit="false"> </ion-input>
              </ion-item>

              <ion-button type="submit" [disabled]="!registerForm.valid" expand="block">{{isLoading? "": "Register"}}
                <ion-spinner *ngIf="isLoading"></ion-spinner>
              </ion-button>

              <ion-item class="ion-text-center" [routerLink]="['/auth']" lines="none">
                <ion-label color="secondary">
                  Have an account? Login now!
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>